torch~=2.0.1
smartdict==0.2.1
pandas~=1.4.4
scikit-learn~=1.5.1
termcolor~=3.3
refconfig~=0.1
oba~=0.3
numpy~=1.23.2
unitok~=4.4
transformers~=4.47.1
tqdm~=4.67.1
peft~=0.12.0
pigmento~=0.2.2
nltk~=3.7
Pillow~=12.2
PyYAML~=6.0
requests~=2.33
psutil~=5.9.2